$font-family: Nunito;

@media(min-width: 0px) and (max-width: 991px) {
    .subCategoriesContainer {
        display: grid;
        grid-template-rows: 3fr 4.5fr 4.5fr;
        column-gap: 20px;
        row-gap: 20px;
        margin: 40px 10px;

        & .category:hover,
        & .category:nth-child(1):hover {
            & .categoryName {
                & > p {
                    color: #000000;
                    border-bottom: 4px solid #FF0000;
                }
            }
        }

        & .category {
            position: relative;
    
            & .categoryImage {
                height: 170px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    
            & .categoryName {
                width: 40%;
                position: absolute;
                right: 0;
                bottom: 0;
    
                & > p {
                    text-align: right;
                    font-weight: 600;
                    font-size: 22px;
                    font-family: $font-family;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    margin: 0;
                    padding-right: 10px;
                    border-bottom: 4px solid transparent;
                }
            }
    
            & .categoryDescription {
                display: none;
            }
        }

        & .category:nth-child(1) {
            position: relative;
    
            & .categoryImage {
                height: 170px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    
            & .categoryName {
                width: 40%;
                position: absolute;
                left: 0;
                bottom: 0;
    
                & > p {
                    text-align: left;
                    font-weight: 600;
                    font-size: 22px;
                    font-family: $font-family;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    margin: 0;
                    padding-left: 10px;
                    border-bottom: 4px solid transparent;
                }
            }
    
            & .categoryDescription {
                display: none;
            }
        }
    }

    .subCategoriesContainer {
        & > div:last-child {
            grid-row: 1 / span 2;
    
            & .categoryImage {
                height: 100%;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 4096px) {
    .subCategoriesContainer {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows: auto auto;
        column-gap: 20px;
        row-gap: 20px;
        margin: 80px 40px;
    
        & .category:first-child:hover,
        & .category:nth-child(2):hover,
        & .category:last-child:hover {
            & .categoryName {
                & > p {
                    border-bottom: 4px solid #FF0000;
                }
            }
        }
    
        & .category:first-child {
            position: relative;
    
            & .categoryImage {
                height: 210px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    
            & .categoryName {
                width: 40%;
                position: absolute;
                right: 0;
                bottom: 0;
    
                & > p {
                    text-align: right;
                    font-weight: 600;
                    font-size: 28px;
                    font-family: $font-family;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    margin: 0;
                    padding-right: 10px;
                    border-bottom: 4px solid transparent;
                }
            }
    
            & .categoryDescription {
                display: none;
            }
        }
    
        & .category:nth-child(2) {
            position: relative;
    
            & .categoryImage {
                height: 210px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    
            & .categoryName {
                width: 40%;
                position: absolute;
                left: 0;
                bottom: 0;
    
                & > p {
                    text-align: left;
                    font-weight: 600;
                    font-size: 28px;
                    font-family: $font-family;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    margin: 0;
                    padding-left: 10px;
                    border-bottom: 4px solid transparent;
                }
            }
    
            & .categoryDescription {
                display: none;
            }
        }
    
        & .category:last-child {
            position: relative;
    
            & .categoryImage {
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    
            & .categoryName {
                width: 40%;
                position: absolute;
                right: 0;
                bottom: 0;
    
                & > p {
                    text-align: right;
                    font-weight: 600;
                    font-size: 28px;
                    font-family: $font-family;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    margin: 0;
                    padding-right: 10px;
                    border-bottom: 4px solid transparent;
                }
            }
    
            & .categoryDescription {
                display: none;
            }
        }
    }
    
    .subCategoriesContainer {
        & > div:last-child {
            grid-column: 2 / span 2;
            grid-row: 1 / span 2;
    
            & .categoryImage {
                height: 100%;
            }
        }
    }
}