@media(min-width: 0px) and (max-width: 991px) {
    .sponsoredAdsWrapper {
        padding: 40px 10px 40px 10px;
        background-color: #424242;

        & > p:first-of-type {
            position: relative;
            left: 0;
            top: -20px;
            text-align: left;
            font-size: 600;
            font-size: 22px;
            font-family: Nunito;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin: 0;
        }

        & > p:first-of-type::after {
            content: "";
            display: block;
            width: 42%;
            position: absolute;
            top: 32px;
            border-bottom: 1px solid #DEDEDE;
        }

        & > p:first-of-type:hover::before {
            content: "";
            display: block;
            width: 22%;
            position: absolute;
            top: 33px;
            left: 33px;
            border-bottom: 2px solid #EB4B11;
        }

        .sponsoredAdsContainer {
            padding: 10px 25px;
            background-color: #000000;
        
            & .ad {
                display: grid;
                grid-template-columns: 2fr 2fr;
                place-items: center;
        
                & .adImage {
                    width: 80px;
                    border: 10px solid #FFFFFF;
                    
                    & > img {
                        position: relative;
                        height: 120px;
                        left: -20px;
                    }
                }
        
                & .adProductDetails {
                    & > div:first-child {
                        text-align: center;
                        font-weight: 500;
                        font-size: 12px;
                        font-family: Montserrat;
                        letter-spacing: 3.3px;
                        color: #FFFFFF;
                        opacity: 1;
                    }
        
                    & > div:nth-child(2) {
                        & > p {
                            text-align: center;
                            font-weight: 500;
                            font-size: 10px;
                            font-family: Montserrat;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;
                        }
                    }
        
                    & > div:last-child {
                        border: 3px solid #FFFFFF;
        
                        & > p {
                            text-align: center;
                            font-weight: 500;
                            font-size: 12px;
                            font-family: Montserrat;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 4096px) {
    .sponsoredAdsWrapper {
        & > p:first-of-type {
            position: relative;
            left: 10px;
            top: 20px;
            text-align: left;
            font-size: 600;
            font-size: 22px;
            font-family: Nunito;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin: 0;
        }

        & > p:first-of-type::after {
            content: "";
            display: block;
            width: 32%;
            position: absolute;
            top: 32px;
            border-bottom: 1px solid #DEDEDE;
        }

        & > p:first-of-type:hover::before {
            content: "";
            display: block;
            width: 15%;
            position: absolute;
            top: 33px;
            left: 40px;
            border-bottom: 2px solid #EB4B11;
        }

        .sponsoredAdsContainer {
            padding: 10px 25px;
            margin: 40px 40px 0 0;
            background-color: #000000;
        
            & .ad {
                display: grid;
                grid-template-columns: 2fr 2fr;
                place-items: center;
        
                & .adImage {
                    width: 80px;
                    border: 10px solid #FFFFFF;
                    
                    & > img {
                        position: relative;
                        height: 120px;
                        left: -20px;
                    }
                }
        
                & .adProductDetails {
                    & > div:first-child {
                        text-align: center;
                        font-weight: 500;
                        font-size: 12px;
                        font-family: Montserrat;
                        letter-spacing: 3.3px;
                        color: #FFFFFF;
                        opacity: 1;
                    }
        
                    & > div:nth-child(2) {
                        & > p {
                            text-align: center;
                            font-weight: 500;
                            font-size: 10px;
                            font-family: Montserrat;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;
                        }
                    }
        
                    & > div:last-child {
                        border: 3px solid #FFFFFF;
        
                        & > p {
                            text-align: center;
                            font-weight: 500;
                            font-size: 12px;
                            font-family: Montserrat;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
