.cosmos-market-price {
    & > p {
        text-align: left;
        font-weight: 400;
        font-size: 8px;
        font-family: Nunito;
        letter-spacing: 0px;
        color: #222222;
        opacity: 1;
    }    
}